.ws{
    margin-top: 80px;

    .wsf-container{
        font-size: 1.2rem;
        align-items: center;
        display: block;
        justify-content: center;
        padding: 45px;
        margin-top: 30px;
        width: 80%;
    
        .wsf-form-evento{   
            float: left; 
            display: flex;
            flex-direction: column;
            width: 40%;

            .titulo{
                text-align: center;
                margin-bottom: 30px;
            }

            .form-input{
                background: #C4C4C4;
                border: none;
                border-radius: 4px;  
                height: 38px;
                margin-bottom: 20px;
                padding: 8px 15px;
                font-size: 1rem;
                outline: none;
                width: 400px;
            }

            .button-back{
                font-size: 1.2rem;
                color: #ffffff;
                padding: 5px 20px;
                margin-bottom: 15px;
                border: 1px solid #545454;
                border-radius: 4px;
                background: #098bb3;
                cursor: pointer;
                outline: none;
                text-decoration: none;
                text-align: center;
            }    

        }   

        .wsf-form-contacto{
            float: right;
            display: flex;
            flex-direction: column;
            width: 40%;

            .titulo{
                text-align: center;
                margin-bottom: 30px;
            }

            .form-input{
                background: #C4C4C4;
                border: none;
                border-radius: 4px;  
                height: 38px;
                margin-bottom: 20px;
                padding: 8px 15px;
                font-size: 1rem;
                outline: none;
                width: 400px;
            }

            .input-small, .input-small-number{
                font-size: 1.1rem;
                
                label{
                    padding: 12px;
                }
                .label-fon{
                   padding: 18px;
                }

                .form-input-small{
                    background: #C4C4C4;
                    border: none;
                    border-radius: 4px;  
                    height: 38px;
                    margin-bottom: 20px;
                    padding: 10px 15px;
                    font-size: 1rem;
                    outline: none;
                    width: 100px;
                }
            }

            .input-small-number{
                margin-left: 18px;

                label{
                    padding: 15px;
                }
            }

            .button {
                font-size: 1.2rem;
                color: #ffffff;
                padding: 5px 20px;
                margin-bottom: 5px;
                border: 1px solid #545454;
                border-radius: 4px;
                background: #093C4B;
                cursor: pointer;
                outline: none;
                text-decoration: none;
                text-align: center;
            }

        }
    }
}   