.gf{
    margin-top: 100px;
    align-content: center;

    .titulo{
        text-align: center;
        font-size: 2.5rem;
    }

    .gf-container{
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .gf-info{
            justify-content: center;
            width: 80%;
            height: 55vh;
            background-color: #cccccc;
            text-align: center;
            padding: 10px;
            overflow: auto;
            margin-bottom: 10px;

            .titulo-gf-info{
                text-align: center;
                font-size: 2rem;
            }

            .gf-target{
                font-size: 1rem;
                background-color: white;
                border-radius: 10px;
                border: 1px solid #858585;
                margin: 20px;
                padding: 5px;

                .gift-name{
                    font-size: 1.5rem;
                }

                .gift-photo{
                    float: left;
                    width: 100px;
                    height: 100px;
                    margin: 5px;
                }

                .gift-photo-giftDefault{
                    width: 70px;
                    height: 70px;
                    margin: 3px;
                }

                .target-buttons{
                    justify-content: space-between;

                    .gf-removeButton, .gf-removeButtonDis{
                        font-size: 1rem;
                        color: #ffffff;
                        padding: 5px 20px;
                        margin:10px;
                        border: 1px solid #910202;
                        border-radius: 4px;
                        background: #cf0b0b;
                        cursor: pointer;
                        outline: none;
                        text-decoration: none;
                        text-align: center;
                    }

                    .gf-removeButtonDis{
                        opacity: 0.5;
                    }
                    
                    .gf-addButton, .gf-addButtonDis{
                        font-size: 1rem;
                        color: #ffffff;
                        padding: 5px 20px;
                        margin: 10px;
                        border: 1px solid #032d3a;
                        border-radius: 4px;
                        background: #093C4B;
                        cursor: pointer;
                        outline: none;
                        text-decoration: none;
                        text-align: center;
                    }
    
                    .gf-addButtonDis{
                        background-color: green;
                        border: 1px solid rgb(1, 59, 1);
                    }

                }
            }
        }

        .gf-button{
            justify-content: space-evenly;
            margin-top: 20px;

            .gf-buttonSave, .gf-buttonSaveDis{
                font-size: 1rem;
                color: #ffffff;
                padding: 5px 20px;
                margin: 10px;
                border: 1px solid #032d3a;
                border-radius: 4px;
                background: #093C4B;
                cursor: pointer;
                outline: none;
                text-decoration: none;
                text-align: center;
            }

            .gf-buttonSaveDis{
                opacity: 0.5;
            }

            .gf-buttonEnd{
                font-size: 1rem;
                color: #ffffff;
                padding: 5px 20px;
                margin:10px;
                border: 1px solid #910202;
                border-radius: 4px;
                background: #cf0b0b;
                cursor: pointer;
                outline: none;
                text-decoration: none;
                text-align: center;
            }
        }

    }
}