.gf{
    margin-top: 100px;
    align-content: center;

    .title{
        text-align: center;
    }

    .gf-container{
        margin: 50px;
        display: block;
        height: 50px;
        width: 300px;
        
    }
    
}